# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg

# THIS WOULD NORMALLY GO HERE - /etc/ansible/ansible.cfg

[defaults]
display_skipped_hosts = False
force_color = True
forks = 25
timeout = 30
# Built-in YAML output (ansible-core 2.13+); no collection needed.
stdout_callback = default
callback_result_format = yaml
callbacks_enabled = ansible.posix.profile_tasks
# Repo-local pinned collections first (requirements.yml -p collections), then system paths.
collections_path = collections:~/.ansible/collections:/usr/share/ansible/collections:/etc/ansible/collections

[inventory]
enable_plugins = yaml, ini